# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/

# Pyenv local version file
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/
.idea/
/one_million_random_ints.txt
/mergesort_stdin
/introsort_stdin
/out
